<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>

  <p>Dear {{name}},</p>
  <br>
  <p>
    You are invited to accept a booking in {{appName}}. 
    <br>
  	<br>
    This is the booking schedule: 
    <br>
    1. Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{time}}
    <br>
    2. Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{date}}
    <br>
    3. Location:&nbsp;{{location}}
    <br>
  </p>
  <p>Please visit this url to verify and confirm the booking:</p>
  <p>{{url}}</p>
  <br>
  <br>
  <p>The {{appName}} Support Team</p>
</body>

</html>
